{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<h1>{{user.username}}</h1>
<hr />
<div class="card-content">
  <p>Name: {{profile.proName}}</p>
  <p>Location: {{profile.proLoc}}</p>
  <p>Occupation: {{profile.proOcc}}</p>
  <p>Age: {{profile.age}}</p>
  <p>Favorite Car: {{profile.favoriteCar}}</p>
  <p>Cars Owned: {{profile.carsOwned}}</p>
  <p>Cars Currently Own: {{profile.carsOwn}}</p>
</div>
<hr />
<div class="card-action">
  <a href="{% url 'profile_update' user.id %}">Update</a>
</div>
{% endif %} {% endblock %}
