{% extends 'base.html' %} {% block content %}

<h1>Car List</h1>

<!-- <center>
    <form action="{% url 'searchbar' %}" method="get">
        <input type="text" name="search"/>
        <button type="submit">Search</button>
    </form>
</center> -->

{% for car in cars %}
<div class="card">
  <a href="{% url 'detail' car.id %}">
    <div class="card-content">
      <span class="card-title">{{ car.manufacturer }} {{ car.carModel }}</span>
      <p>Model: {{ car.carModel }}</p>
      <p>Description: {{ car.description }}</p>
      <p>Year: {{ car.year }}</p>
      <p>Color: {{ car.color }}</p>
      <p>Body: {{ car.body }}</p>
      <p>Created on: {{ car.created_at }}</p>
      <p>Post by: {{ car.user }}</p>
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
