{% extends 'base.html' %}
{% block content %}

<h1>Car List</h1>

{% for car in cars %}
<div class="card">
    <a href="{% url 'detail' car.id %}">
    <div class="card-content">
        <span class="card-title">{{ car.manufacturer }} {{ car.carModel }}</span>
        <p>Model: {{ car.carModel }}</p>
        <p>Description: {{ car.description }}</p>
        <p>Year: {{ car.year }}</p>
        <p>Color: {{ car.color }}</p>
        <p>Body: {{ car.body }}</p>
    </div>
    </a>
</div>
{% endfor %}

{% endblock %}