body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F3ECE5;
}

main {
    flex: 1 0 auto;
}

footer {
    padding-top: 0;
    text-align: right;
    background-color: #147587 !important;
}

.navbar {
    background-color: #147587 !important;
}

.car {
    background-color: #FA7E5C;
}

.car > p {
    color: white;
}

.car > span {
    font-size: 40px !important;
    font-family: 'Abril Fatface', cursive;
    color: white;
    padding-bottom: 10px;
    border-bottom: 0.4vh solid white;
}

.search {
    background-color: #63CCC8 !important;
}

.search_bar {
    margin-top: 10vh;
}

.detail {
    background-color: #F3ECE5 !important;
    box-shadow: none !important;
}

.carDetail {
    margin-bottom: 100px;
}

/* Work in Progress */
.active {
    background-color: #FECB5F;
}
/* Work in Progress */