{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<h1>{{user.username}}</h1>
<hr />
<div class="card-content">
  <p>Name: {{profile.proName}}</p>
  <p>Location: {{profile.proLoc}}</p>
  <p>Occupation: {{profile.proOcc}}</p>
  <p>Age: {{profile.age}}</p>
  <p>Favorite Car: {{profile.favoriteCar}}</p>
  <p>Cars Owned: {{profile.carsOwned}}</p>
  <p>Cars Currently Own: {{profile.carsOwn}}</p>
</div>
<hr />
<div class="card-action">
  <a href="{% url 'profile_update' user.id %}">Update</a>
</div>
{% endif %} 

{% for car in cars %}
<div class="card">
  <a href="{% url 'detail' car.id %}">
    <div class="card-content">
      <span class="card-title">{{ car.make }} {{ car.carModel }}</span>
      <p>Model: {{ car.carModel }}</p>
      <p>Description: {{ car.description }}</p>
      <p>Year: {{ car.year }}</p>
      <p>Color: {{ car.color }}</p>
      <p>Body: {{ car.body }}</p>
      <p>Created on: {{ car.created_at }}</p>
      <p>Post by: {{ user.username }}</p>
    </div>
  </a>
</div>
{% empty %}
<p>No Cars</p>
{% endfor %} 

{% endblock %}
